<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Información de pokemon</title>
    <link rel="stylesheet" href="../Estilos.css" type="text/css" />
  </head>
  
    <div id="content">
      <div id="centrarb">
    <div class="tipos">
    <img src=<%= image%> /> 
    <h1 id="titulos"><%= Nombre%></h1>
    </div>
  </div>
</div>
  </body>
</html>
